DATABASE_URL=postgres://postgres:password@localhost:5432/foodly
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=8080
POSTGRES_USER=postgres
POSTGRES_DB=foodly
POSTGRES_PASSWORD=password
IMAGE_STORAGE_PATH=./storage/images